<div class="nav-bar">
  <div class="nav-bar-cart">
    <i class='bx bx-cart bx-sm'></i>
  </div>
  <div class="nav-bar-logo">
    LOGO
  </div>
  <div class="nav-bar-menu">
    <i class='bx bx-menu bx-sm'></i>
  </div>
</div>
<div>
  <img class="banner" src="https://ik.imagekit.io/bprw8mk45/products/bags/bag_banner_EX3kwvE0J.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653661978210" alt="">
</div>
<div class="header">
  <h2 class="collection-header">Bags</h2>
</div>
<div class="btn-container">
  <h4 class="btn">Purses</h4>
  <h4 class="btn">Designer Bags</h4>
  <h4 class="btn">Shoulder bags</h4>
  <h4 class="btn">Travel Bags</h4>
</div>
<div class="product-list-container">
  <div class="product-list">
    <img class="product-img" src="https://ik.imagekit.io/bprw8mk45/products/bags/purse-removebg-preview_Dg2F0Tc4V.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653660837379" alt="">
    <h5 class="product-list-text">Purses</h5>
  </div>
  <div class="product-list" [routerLink]="['designerbags']">
    <img class="product-img" src="https://ik.imagekit.io/bprw8mk45/products/bags/21789859-1-nero-removebg-preview_wgW5IS-k3.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653660805466" alt="">
    <h5 class="product-list-text">Designer Bags</h5>
  </div>
  <div class="product-list" [routerLink]="['shoulderbags']">
    <img class="product-img" src="https://ik.imagekit.io/bprw8mk45/products/bags/201868254-1-black_2b00csX-_.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653660806986" alt="">
    <h5 class="product-list-text">Shoulder bags</h5>
  </div>
  <div class="product-list">
    <img class="product-img" src="https://ik.imagekit.io/bprw8mk45/products/bags/202649543-1-pink-removebg-preview_VSV6qfVeQ.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653660786099" alt="">
    <h5 class="product-list-text">Travel bags</h5>
  </div>
</div>
