<app-navbar></app-navbar>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <input class="product-input" placeholder="title" type="text" formControlName="title" />
  <input class="product-input" placeholder="description" type="text" formControlName="description" />
  <input class="product-input" placeholder="imgUrl1" type="text" formControlName="imgUrl1" />
  <input class="product-input" placeholder="price" type="text" formControlName="price" />
  <input class="product-input" placeholder="quantity" type="text" formControlName="quantity" />
  <input class="product-input" placeholder="size" type="text" formControlName="size" />
  <input class="product-input" placeholder="color" type="text" formControlName="color" />
  <input class="product-input" placeholder="shippings" type="text" formControlName="shippings" />
  <input class="product-input" placeholder="sex" type="text" formControlName="sex" />
  <input class="product-input" placeholder="brands" type="text" formControlName="brands" />
  <input class="product-input" placeholder="category" type="text" formControlName="category" />
  <input class="product-input" placeholder="subcategory" type="text" formControlName="subcategory" />
  <div class="btn-container">
    <button class="submit-btn">
      Submit
    </button>
  </div>
</form>
<div class="btn-container" [routerLink]="['/']">
  <button class="submit-btn">
    Home
  </button>
</div>
